* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-decoration: none;
}

.topsvg {
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    min-height: 70vh;
    min-width: 120vh;
    
}
.bottomsvg {
    display: inline-block;
    position: fixed;
    top: 250px;
    left: 0;
    z-index: -1;
    min-height: 70vh;
    min-width: 120vh;
}
.container {
    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: middle;
}

.header_container {
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    margin-top: 10px;
}
.homepage_header {
    border: 2px black solid;
    padding: 20px;
    border-radius: 15px;
    background-color: black;
}

.homepage_buttons {
    border: 2px black solid;
    border-radius: 15px;
    background-color: red;
    color: white;
    font-size: larger;
    padding-bottom: 40px;
    padding-top: 10px;
    padding-left: 70px;
    padding-right: 70px;
}
.homepage_logo {
    line-height: 10px;
    align-items: center;
    color: white;
}
.title {
    padding-left: 45%;
    color: black;
    text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white; 
}
.title_text {
    padding-left: 38%;
    color: black;
    text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white; 
}
.title_text2 {
    padding-left: 40%;
    color: black;
    text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white; 
}

.section1_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    border: 2px black solid;
    border-radius: 15px;
    width: 80%;
    margin-left: 10%;
    height: 400px;
    background-color: red;
}
.section1_section_title {
    border: 2px black solid;
    border-radius: 15px;
    margin: 8px;
    height: 50px;
    background-color: white;
    padding: 3px;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
}
.section1_section_paragraph {
    border: 2px black solid;
    border-radius: 15px;
    margin-left: 8px;
    margin-bottom: 8px;
    background-color: white;
    padding: 3px;
    height: 300px;
}
.section1_sections_img img {
    border-radius: 15px;  
}

.section1_sections_img {
    width: auto;
    height: 290px;
    margin-left: 8%;
    margin-bottom: 150px;
    overflow: hidden;
    padding: 2px;
    display: flex;
    position: relative;
    flex-direction: row;
    border: 5px black solid;
    background-color: blanchedalmond;
    border-radius: 15px;
    margin-right: 20px;
}

.section2_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    border: 2px black solid;
    border-radius: 15px;
    width: 80%;
    margin-left: 10%;
    height: 400px;
    background-color: red;
}
.section2_section_title {
    border: 2px black solid;
    border-radius: 15px;
    margin: 8px;
    height: 50px;
    background-color: white;
    padding: 3px;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
}
.section2_section_paragraph {
    border: 2px black solid;
    border-radius: 15px;
    margin-left: 8px;
    margin-bottom: 8px;
    background-color: white;
    padding: 3px;
    height: 300px;
}
.section2_sections_img img {
    border-radius: 15px;  
}

.section2_sections_img {
    width: auto;
    height: 290px;
    margin-left: 8%;
    margin-bottom: 150px;
    overflow: hidden;
    padding: 2px;
    display: flex;
    position: relative;
    flex-direction: row;
    border: 5px black solid;
    background-color: blanchedalmond;
    border-radius: 15px;
    margin-right: 20px;
    align-items: center;
    justify-content: center;
}


header {
    width: 95%;
    position: fixed;
    z-index: 30;
}